<%= form_for @lesson do |f| %>
<p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
</p>

<p>
    <%= f.label "Start Time"  %><br>
    <%= f.text_field :StartTime %>
</p>

<p>
    <%= f.label "End Time" %><br>
    <%= f.text_field :EndTime %>
</p>

<p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
</p>

<p>
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
</p>

<p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
</p>

<p>
    <%= f.label :langauge %><br>
    <%= f.text_field :langauge %>
</p>
<p>
    <%= f.label "Workshop name" %><br>
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
</p>

<p><%= f.submit %> </p>
<% end %>