<h1><%= @lesson.name %></h1>
<h2> Hosted by: <%=@lesson.host.email%></h2>

<p>This workshop will be from <%=@lesson.StartTime%> to <%=@lesson.EndTime%> at <%=@lesson.location%>.</p>
<p>
    Description:</br>
    <%=@lesson.description%>
</p>

<%= render '/comments/form' %>
<h2>Comments:</h2>
<%= render @lesson.comments %>
<% link_to 'Back', lessons_path %>
<% if current_user == @lesson.host %>
    <%= link_to "Edit workshop details", edit_lesson_path %> | 

    <%= link_to 'Destroy', lesson_path(@lesson),
				method: :delete, 
				data: { confirm: 'Are you sure?' } %> | 
<% end %>

<%= link_to 'Back to Lessons', lessons_path %>
				