<h1><%= @lesson.name %></h1>
<h2> Hosted by: <%= @lesson.host.email %></h2>

<p>This workshop will be from <%=@lesson.StartTime%> to <%=@lesson.EndTime%> at <%=@lesson.location%>.</p>
<p>
    Description:</br>
    <%=@lesson.description%>
</p>

<%= link_to "See registered roster", roster_lesson_path(@lesson) %>

<% if current_user == @lesson.host %>
    <%= link_to "Edit workshop details", edit_lesson_path %> | 

    <%= link_to 'Destroy', lesson_path(@lesson),
				method: :delete, 
				data: { confirm: 'Are you sure?' } %> | 
<% else %>
	<% if @lesson.users.size > @lesson.capacity %>
		<p><strong>This workshop is full!</strong></p>
	<% else %>
		<%= link_to "Join workshop", add_student_lesson_path(@lesson) %>
	<% end %>
<% end %>



<%= link_to 'Back to Lessons', lessons_path %>


<!-- <html>
<head>
	<meta charset=utf-8 />
		<title>A simple map</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	<style>
		  body { margin:0; padding:0; }
		  #map { position:absolute; top:0; bottom:0; width:50%; height: 50% }
	</style>
</head>
<body>
	<div id='map'></div>
	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoicmljaGFyZGxpbjMiLCJhIjoiOTM3NmRhZGI0ODY3ZWNiNTYwMjFhZjNiZDVjMzVmNDkifQ.AiyM9lt0c30Ktp_xyu3z3Q';
			var map = L.mapbox.map('map', 'mapbox.streets')
    		.setView([40, -74.50], 3);
			var myLocation = L.mapbox.featureLayer()
			.loadURL ('/placess.json')
			.addTo(map)
	</script>
</body>
</html>
 -->

<h2>Comments:</h2>
<%= render '/comments/form' %>
<%= render @all_comments %>

