<!DOCTYPE html>
<html>
<head>
    <title>Workshop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand", href="/">Workshop</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/welcome/about">About</a>
                    </li>
                    <li>
                        <a href="/lessons">Find A Workshop</a>
                    </li>
                    <li>
                        <a href="/lessons/new">Host A Workshop</a>
                    </li>


                    <% if user_signed_in? %>
                        <% if Profile.find_by_id(current_user.id) %>
                            <li><%=link_to "Your Profile", profile_path(current_user)%></li>
                            <li><%= link_to 'Edit profile', edit_profile_path(current_user), :class => 'navbar-link' %></li>
                        <% else %>
                            <li><%=link_to "Create Your Profile", new_profile_path %></li>
                        <% end %>
                            
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                        <li><a>Logged in as <%= current_user.email %></a></li>

                    <% else %>
                        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                    <% end %>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
        <p class="alert alert-danger padding-top"><%= alert %></p>
    <% end %>

    <%= yield %>


    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; iXperience 2015</p>
            </div>
        </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>

